<!-- start head nav  -->

<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-right"><a href="/home">Campifi</a>
  </div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Campifi</li>
      <li><a href="/home"><i class="fi-home topNavIcon"></i> <span>Home</span></a></li>
      <li><a href="/site_add"><i class="fi-plus topNavIcon"></i> <span>Add Site</span></a></li>
      <li><a href="/favorite"><i class="fi-star topNavIcon"></i> <span>Favorites</span></a></li>
      <li><a href="/nearby"><i class="fi-marker topNavIcon"></i> <span>Nearby</span></a></li>
      <li><a href="/logout"><i class="fi-x topNavIcon"></i> <span>Log Out</span></a></li>
    </ul>
  </div>
</div>
<!-- end head nav  -->


    <h3>{{site.name}}</h3>
    <img src= {{site.image}}>
    <p>{{site.description}}</p>
    <h4> by {{site.username}}</h4><br>
    
{{#if permission}}
    <a href="/campsite/edit/{{site.id}}">EDIT</a>
    <a href="/campsite/delete/{{site.id}}">DELETE</a>
    <a href="/favorite/{{site.id}}">FAVORITE</a>
{{else}}
    <a href="/favorite/{{site.id}}">FAVORITE</a>
{{/if}}

{{#each comment}}
    <p>{{this.message}} - <i>{{this.username}}</i></p>
{{/each}}

<form class="" action="/campsite/comment/{{site.id}}" method="post">
    <div class="row">
        <div class="medium-6 medium-centered columns">
            <label for="message" class='text-center'>Comment:
                <textarea name="message" rows="8" cols="40" placeholder="Comment Here!">
                </textarea>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 medium-centered columns">
            <input type="hidden" name="camper_id" placeholder="camper_id" value="{{id}}">
        </div>
          <input type="hidden" name="site_id" value="{{site.id}}">
    </div>
    <div class="medium-6 text-center columns">
      <button type="submit">Post Comment</button>
    </div>
</form>
<!-- // footer nav // -->
<nav class="top-bar show-for-small-only" data-topbar role="navigation">
<ul class="menu align-center icon-top navIcon">
  <li><a href="/home"><i class="fi-home navIcon"></i> <span>Home</span></a></li>
  <li><a href="/site_add"><i class="fi-plus navIcon"></i> <span>Add Site</span></a></li>
  <li><a href="/favorite"><i class="fi-star navIcon"></i> <span>Favorites</span></a></li>
  <li><a href="/nearby"><i class="fi-marker navIcon"></i> <span>Nearby</span></a></li>
  <li><a href="/logout"><i class="fi-x navIcon"></i> <span>Log Out</span></a></li>
</ul>
</nav>
