<!-- start head nav  -->

<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-right"><a href="/home">Campifi</a>
  </div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><a href="/home">Campifi</a></li>
      <li><a href="/home"><i class="fi-trees topNavIcon hide-for-small-only"></i> <span>Home</span></a></li>
      <li><a href="/site_add"><i class="fi-plus topNavIcon hide-for-small-only"></i> <span>Add Site</span></a></li>
      <li><a href="/favorite"><i class="fi-star topNavIcon hide-for-small-only"></i> <span>Favorites</span></a></li>
      <li><a href="/logout"><i class="fi-x topNavIcon hide-for-small-only"></i> <span>Log Out</span></a></li>
    </ul>
  </div>
</div>
<!-- end head nav  -->
<h1>Hi {{camper.username}}</h1>

    <div id="map" class=""></div>


{{#each site}}
<div class="row">
  <div class="large-6 columns">
    <h3>{{name}}</h3>
    <img class="campsiteImage" src={{image}}>
  </div>
  <div class="large-6 columns descBg">
    <p>{{description}}<p>
  </div>
</div>
<br>
<div class="row">
  <div class="small-12 detailBtn">
      <a href="/campsite/{{this.id}}"><button class="detailBtn2" type="button" name="button"><h3>Campsite Details</h3></button></a>
  </div>
</div>
<hr>

{{/each}}

<nav class="top-bar show-for-small-only" data-topbar role="navigation">
<ul class="menu align-center icon-top navIcon">
  <li><a href="/home"><i class="fi-trees navIcon"></i> <span>Home</span></a></li>
  <li><a href="/site_add"><i class="fi-plus navIcon"></i> <span>Add Site</span></a></li>
  <li><a href="/favorite"><i class="fi-star navIcon"></i> <span>Favorites</span></a></li>
  <li><a href="/logout"><i class="fi-x navIcon"></i> <span>Log Out</span></a></li>
</ul>
</nav>
