
<h1>Welcome Home {{camper.username}}</h1>
<a href="/logout" class="button">Log Out</a>

<a href="/site_add" class="button"> Add Site</a>
<a href="/favorite" class="button"> Favorites</a>
<a href="/nearby" class="button"> Sites Nearby</a>


{{#each site}}

<a href="/campsite/{{this.id}}"><h3>{{name}}</h3></a>
<img src={{image}}>
<p>{{description}}<p>
{{/each}}
